* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ion-icon {
    color: grey;
}


/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 200px;
    border: 2px solid red;
}

.logo {
    width: 260px;
    height: 40px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}

.resume-membership {
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px 20px;
}

.account-icon {
    color: white;
    font-weight: bold;
    background-color:forestgreen;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 40px;
    text-align: center;
}


/* STRUTTURA BASE */
.content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.left-side {
    width: 60%;
    border-right: 1px solid grey;
    padding: 50px 50px 0px 200px;
}

.right-side {
    padding: 50px 200px 0px 50px;
}


.articles {
    border: 2px solid blue;
}

.sidebar {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}


/* SEZIONE ARTICOLI*/
.menu {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid grey;
}

.menu h3:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:20px;
    padding-top: 40px;
    border: 2px solid purple;
}

.data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.article-footer ul {
    display: flex;
    gap: 20px;
    list-style: none;
    color: grey;
}

.article-image img {
    object-fit:cover;
}