/*

10/05/2024

Risorse esterne:
- picsum
- fontawesome
- ionicons
- flaticon
- fake name generator

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ion-icon {
    color: grey;
}

body {
    font-family: "Roboto", sans-serif;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 200px;
}

.logo {
    width: 260px;
    height: 40px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}

.resume-membership,
.twitter,
.follow-button {
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px 20px;
}

.account-icon {
    color: white;
    font-weight: bold;
    background-color:forestgreen;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 40px;
    text-align: center;
}


/* STRUTTURA BASE */
.content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.left-side {
    flex: 2;
    padding: 50px 50px 0px 200px;
}

.right-side {
    flex: 1;
    padding: 50px 200px 0px 50px;
}

.sidebar {
    border: 2px solid blue;                     /*DA RIMUOVERE */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
}


/* LEFT SIDE */
.menu {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid grey;
}

.menu span:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.articles > article {
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding-top: 40px;
}

.data {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.author img {
    width: 30px;
    height: 30;
}

article p {
    color: grey;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.article-footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: grey;
}

.article-footer ul li:nth-child(1) {
    list-style: none;
}

.article-footer ul li:nth-child(3) {
    background-color: lightgrey;
    padding: 5px 10px;
    border-radius: 30px;
} 

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.article-image {
    flex: 2;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* RIGHT SIDE */

/* TWITTER */
.twitter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid grey;
}

.fa-twitter {
    color: lightskyblue;
}

/* RECOMMENDED TOPICS */
.topic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.topic {
    background-color: lightgrey;
    border-radius: 30px;
    padding: 5px 20px;
}

/* WHO TO FOLLOW */
.follow-container {
    display: flex; 
    flex-direction:column;
}

.follow-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-profile {
    display: flex;
    align-items: top;
    gap: 30px;
}

.follow-picture {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.follow-picture img {
    width: 100%;
    object-fit: cover;
}

.follow-data {
    display: flex;
    flex-direction: column;
}

/* RECENTLY SAVED */
.saved-container > article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:20px;
    border: 2px solid purple;                   /*DA RIMUOVERE */
}

/* FOOTER */
footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: grey;
}